/* Particles */
.ascii-particles {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}
.ascii-particles span {
  position: absolute;
  top: 0;
  left: 0;
  /*color: #d4a017;*/
  font-family: monospace;
  font-size: 20px; /* change size */
  line-height: 1;
  will-change: transform, opacity;
}